div.p891{
	border: 1px solid black;
	padding:2px;
	max-width:90%;
	clear:both;
}
div.p892{
	border:1px solid black;
	min-width:100%;
	min-height:50px;
}
img{
	height:10%;
	max-height:10%;
}
div.p101{
	border:1px solid black;
	min-width:100px;
	min-height:100px;
	clear:both;
}