@media screen and (max-width:481px){
	body{
		overflow-y:scroll;
	}
	/*places element 3 at place*/
	.wrap{
		flex-direction:column-reverse;
	}
	/* alligning everything in columns*/
	.layout{
	-webkit-flex-direction:column;
	flex-direction:column;	
	}
	.E4567{
	-webkit-flex-direction:column;
	flex-direction:column;	
	}
	.E56{
	-webkit-flex-direction:column;
	flex-direction:column;	
	}
	/*width correction*/
	.middle{
	min-width:100vw;
	max-width:100vw;
	float:right;
	}
	.el4{
	min-width:100vw;
	max-width:100vw;
	}
	.el5{
	min-width:100vw;
	max-width:100vw;
	}
	.el6{
	min-width:100vw;
	max-width:100vw;
	}
	.el7{
	min-width:100vw;
	max-width:100vw;
	}
}