html,body{
	margin:0;
	padding:0;
	height:100%;
	min-height:100%;
}
header,footer {
	min-height:10%;
	clear:both;	
}

main{
	min-width:100%;
	min-height:80%;
	height:80%;
}
.sidebar{
	float:right;
	min-width:13%;
	min-height:100%;
	margin:1%;
}

.content{	
	float:left;
	width:85%;	
	min-height:100%;
}
article article{
	margin:10px;
}
.aside1{
	float:right;
}
.aside2{
	float:left;
}
img{
	width:150px;
}
.dist{
	clear:both;
}