.el1{
	background-color:#e6f2ff;
}
.el2{
	background-color:#cce6ff;
}
.el3{
	background-color:#b3d9ff;
}
.el4{
	background-color:#80bfff;	
}
.el5{
	background-color:#66b3ff;
}
.el6{
	background-color:#4da6ff;
}
.el7{	
	background-color:#3399ff;

}
.el8{
	background-color:#99ccff;
}